<body class="text-center">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

    <div class="form-group">
      <div *ngIf="email.invalid && email.touched" class="invalid-feedback d-block">
        The email is invalid.
      </div>
      <input class="form-control" formControlName="email" id="inputEmail" placeholder="Email address" type="email">

      <input class="form-control" formControlName="password" id="inputPassword" placeholder="Password" type="password">
      <div *ngIf="password.invalid && password.touched" class="invalid-feedback d-block">
        The password is invalid.
      </div>
    </div>

    <button [disabled]="loginForm.invalid" class="btn btn-lg btn-info btn-block" type="submit">Sign In</button>

    <hr class="dashed">

    <div>
      <div style="float: left; cursor: pointer;">
        <span class="text-secondary" routerLink="/forgot-password">Forgot Password?</span>
      </div>
      <div style="float: right; cursor: pointer;">
        <span class="text-secondary" routerLink="/register">Sign Up</span>
      </div>
      <br>
    </div>


  </form>
</body>